@{ ViewData["Title"] = "Home Page"; }



<div style="display:flex;flex-direction:column;text-align:center;font-size:1.4em;">
    <p>
        This application is using the Air Quality Open API - https://docs.openaq.org/#api-_ to retrieve and display data.
    </p>
    <br />
    <p>
        This application is utilizing the MVC framework with views on the front end. Currently the data is displayed within tables and the sorting is possible through the front end of the application
        because of the speed and low reliability of the API.
    </p>
    <br />
    <p>You are able to view a list of countries with Air Quality measurement count and number of cities tested <a style="color:blue;" class="countriesLink" onclick="location.href='@Url.Action("Countries", "OpenAQAPI")'">here.</a></p>
    <br />
    <br />
    <p>Full Github source code with commit history can be viewed <a style="color:blue;" class="countriesLink" onclick="location.href='https://github.com/AlexKman/AirQualityMVC'">here.</a></p>
</div>

<style>
    .countriesLink {
        color: blue;
    }

        .countriesLink:hover {
            text-decoration: underline;
            color: white;
            cursor: pointer;
        }
</style>