@{ ViewData["Title"] = "Home Page"; }

<div class="flex-column text-center">
    <h1>
        2
    </h1>
    <h2>Egg</h2>
    <div class="text-center" >
        <button onclick="location.href='@Url.Action("Countries", "OpenAQAPI")'" type="button" class="btn btn-secondary" style="" >View all countries</button>
    </div>
</div>